In [11]:
import pandas as pd
import numpy as np

In [12]:
movie = pd.read_csv('./movie.csv')

In [13]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [14]:
movie1 = movie.iloc[:, :11].fillna(0)

In [15]:
movie1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   color                    4916 non-null   object
 1   director_name            4916 non-null   object
 2   num_critic_for_reviews   4916 non-null   float64
 3   duration                 4916 non-null   float64
 4   director_facebook_likes  4916 non-null   float64
 5   actor_3_facebook_likes   4916 non-null   float64
 6   actor_2_name             4916 non-null   object
 7   actor_1_facebook_likes   4916 non-null   float64
 8   gross                    4916 non-null   float64
 9   genres                   4916 non-null   object
 10  actor_1_name             4916 non-null   object
dtypes: float64(6), object(5)
memory usage: 422.6+ KB

float 값을 가진 컬럼들을 먼저 정리한다.

In [33]:
movie1['num_critic_for_reviews'] = movie1['num_critic_for_reviews'].astype(np.float16)

In [37]:
movie1['duration'] = movie1['duration'].astype(np.float16)

In [39]:
movie1['director_facebook_likes'] = movie1['director_facebook_likes'].astype(np.float16)

In [40]:
movie1['actor_3_facebook_likes'] = movie1['actor_3_facebook_likes'].astype(np.float16)

In [41]:
movie1['actor_1_facebook_likes'] = movie1['actor_1_facebook_likes'].astype(np.float16)

In [42]:
movie1['gross'] = movie1['gross'].astype(np.float16)

In [43]:
movie1.memory_usage(deep=True)

Index                         128
color                      306262
director_name              343388
num_critic_for_reviews       9832
duration                     9832
director_facebook_likes      9832
actor_3_facebook_likes       9832
actor_2_name               346635
actor_1_facebook_likes       9832
gross                        9832
genres                     379929
actor_1_name               346599
dtype: int64

In [ ]:
movie1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   color                    4916 non-null   object
 1   director_name            4916 non-null   object
 2   num_critic_for_reviews   4916 non-null   float16
 3   duration                 4916 non-null   float16
 4   director_facebook_likes  4916 non-null   float16
 5   actor_3_facebook_likes   4916 non-null   float16
 6   actor_2_name             4916 non-null   object
 7   actor_1_facebook_likes   4916 non-null   float16
 8   gross                    4916 non-null   float16
 9   genres                   4916 non-null   object
 10  actor_1_name             4916 non-null   object
dtypes: float16(6), object(5)
memory usage: 249.8+ KB

메모리가 상당히 줄어든것을 확인 할 수 있다.

In [46]:
print(249.8 / 422.6 * 100, '%')

59.11026975863701 %

object를 category로 변환하여 메모리를 줄여보자.

In [48]:
movie1.select_dtypes(include=['object']).nunique()

color               3
director_name    2398
actor_2_name     3031
genres            914
actor_1_name     2096
dtype: int64

In [ ]:
color 값은 category로 변환하지 않아도 된다.

In [50]:
movie1['director_name'] = movie1['director_name'].astype('category')

In [52]:
movie1['actor_2_name'] = movie1['actor_2_name'].astype('category')

In [54]:
movie1['genres'] = movie1['genres'].astype('category')

In [55]:
movie1['actor_1_name'] = movie1['actor_1_name'].astype('category')

In [56]:
movie1.memory_usage(deep=True)

Index                         128
color                      306262
director_name              245814
num_critic_for_reviews       9832
duration                     9832
director_facebook_likes      9832
actor_3_facebook_likes       9832
actor_2_name               290652
actor_1_facebook_likes       9832
gross                        9832
genres                     121102
actor_1_name               224147
dtype: int64

최종적으로 메모리값은 모두 큰 폭으로 감소했다.